.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-item {
    flex: 1;
    margin: 5px;
    padding: 20px;
    border: 1px solid #DDD;
    /*height: 650px;
    overflow-y: auto;*/
}

.flex-item-full {
    flex: 1 100%;
    margin: 5px;
    border: 1px solid #DDD;
}

.flex-item-slim {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 0 solid #666;
}