body {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.right-align-col-2 div.row > div:nth-child(2) {
    text-align: right;
}

div.right-align-col-3 div.row > div:nth-child(3) {
    text-align: right;
}

div.signalrdashboard-component {
    font-size: 2.0em;
}

div.signalrdashboard-component .component-title {
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;
}

div.signalrdashboard-component .component-sub-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 3px;
    background-color: #474A55;
}

div.signalrdashboard-component .component-row {
    margin-top: 4px;
    font-size: 1.3em;
}

div.signalrdashboard-component span.small {
    font-size: 0.8em;
}

div.signalrdashboard-component span.xsmall {
    font-size: 0.6em;
}

div.signalrdashboard-component span.error {
    color: #dd0000;
}
    
div.signalrdashboard-component span.yellow {
    color: #E0BB00;
}

div.signalrdashboard-component span.warning {
    color: #FF6A00;
}

div.signalrdashboard-component span.success {
    color: #267F00;
}

div.signalrdashboard-component span.priority-alert {
    color: #FF6A00;
}
    
@keyframes pulsate-error {
    0% {
        background-color:rgba(221,0,0,1);
    }
    50% {            
        background-color:rgba(221, 0, 0, 0.5);
    }
    100% {            
        background-color:rgba(221,0,0,1);
    }
}

@keyframes pulsate-warning {
    0% {
        background-color:rgba(255,122,13,1);
    }
    50% {            
        background-color:rgba(255, 122, 13, 0.5);
    }
    100% {            
        background-color:rgba(255, 122, 13 ,1);
    }
}

@keyframes pulsate-priority-alert {
    0% {
        background-color:rgba(255,122,13,1);
    }
    50% {            
        background-color:rgba(255, 122, 13, 0.5);
    }
    100% {            
        background-color:rgba(255, 122, 13 ,1);
    }
}

div.signalrdashboard-component div.error, div.signalrdashboard-component div.error-long {
    animation-name: pulsate-error;
}

div.signalrdashboard-component div.warning {
    animation-name: pulsate-warning;
}

div.signalrdashboard-component div.priority-alert {
    animation-name: pulsate-priority-alert;
}

div.signalrdashboard-component div.error, div.signalrdashboard-component div.error-long, div.signalrdashboard-component div.warning, div.signalrdashboard-component div.priority-alert {
    animation-duration: 1s;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
 }

div.error-long {
     animation-iteration-count: 15;
}

div.error, div.warning {
     animation-iteration-count: 2;
}

div.error, div.priority-alert {
     animation-iteration-count: 5;
}

div.row {
    margin-bottom: 3px;
}

div.errored {
    background-color: #CC0000;
}

div.success {
    background-color: #267F00;
}

div.in-progress {
    background-color: #0059B3;
}

.right-align {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

footer {
    font-size: 0.8em;
}

.big-box {
    font-size: 2.2em;
    font-weight: 800;
    text-align: center;
    padding: 10px;
}

div.confidence-container {
    padding: 20px 80px;
    height: 800px;
}

div.confidence-scale-bounds {
    background-color: #1d6100;
    border: 1px solid #1d6100;
    height: 100%;
}

div.confidence-scale {
    background-color: #222222;
    text-align: center;
    margin-top: 20px;
}

.tc-progress {
    height: 100%;
    background-color: #222222;
    padding: 0;
}

.tc-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    text-align: left;
    background-color: #0059B3;
}