<div class="flex-container">
    <div class="flex-item-full dashboard-column">
        <twitter-status></twitter-status>
    </div>
    <br/>
    <div class="flex-item-7-3 dashboard-column">
        <team-city-status></team-city-status>
    </div>
    <div class="flex-item-7-1 dashboard-column">
        <confidence-status></confidence-status>
    </div>
    <div class="flex-item-7-3 dashboard-column">
        <azure-status></azure-status>
    </div>
</div>
<div class="flex-container">
    <div class="flex-item-slim dashboard-column">
        <controls></controls>
    </div>
    <div class="flex-item-slim dashboard-column">
        <network-status></network-status>
    </div>
</div>