<div class="flex-container">
    <div class="flex-item-full dashboard-column">
        <twitter-status></twitter-status>
    </div>
    <br/>
    <div class="flex-item dashboard-column">
        <team-city-status></team-city-status>
    </div>
    <div class="flex-item dashboard-column">
        <azure-status></azure-status>
    </div>
    <!--<div class="flex-item dashboard-column">
        <demo-build-metrics></demo-build-metrics>
    </div>-->
</div>
<br />
<div class="row">
    <div class="dashboard-column">
        <controls></controls>
    </div>
</div>