<div class="signalrdashboard-component">
    <div class="row">
        <div class="component-title">
            Azure Metrics
        </div>
    </div>
    <div *ngFor="#group of model" class="row right-align-col-2">
        <div class="row box box-header">
            {{group.groupName}} <span class="xsmall"> - {{group.location}}</span>
        </div>
        <div *ngFor="#clusterStat of group.clusterStats" class="row">
            <div class="row">
                <div class="col-lg-5">
                    <span>Clusters ({{clusterStat.clusterState}})</span>
                </div>
                <div class="col-lg-5">
                    <span>{{clusterStat.clusterCount}}</span>
                </div>
            </div>
        </div>
    </div>
</div>