<div class="signalrdashboard-component">
    <div class="row">
        <div class="component-title">
            Azure Metrics
        </div>
    </div>
    <div *ngFor="#group of model" class="row right-align-col-3">
        <div class="row component-sub-title">
            {{group.groupName}} <span class="xsmall"> - {{group.location}}</span>
        </div>
        <div *ngFor="#clusterStat of group.clusterStats" class="row">
            <div class="component-row row">
                <div class="col-lg-6">
                    <span>Clusters: {{clusterStat.groupName}}</span>
                </div>
                <div class="col-lg-3">
                    <span>{{clusterStat.count}}</span>
                </div>
                <div class="col-lg-3">
                    <span class="small">{{clusterStat.aliveTime}}</span>
                </div>
            </div>
        </div>
        <div *ngFor="#sqlStat of group.sqlStats" class="row">
            <div class="component-row row">
                <div class="col-lg-6">
                    <span>Databases: {{sqlStat.groupName}}</span>
                </div>
                <div class="col-lg-3">
                    <span>{{sqlStat.count}}</span>
                </div>
                <div class="col-lg-3">
                    <span class="small">{{sqlStat.aliveTime}}</span>
                </div>
            </div>
        </div>
    </div>
</div>