<div class="signalrdashboard-component" style="float: right; padding-right: 10px;">
    <img id="azureStatus" src="../../Content/images/azure_{{model.canAccessAzure ? 'on' : 'off'}}.png" title="Azure Status" style="padding-left: 20px;"/>
    <img id="teamCityStatus" src="../../Content/images/teamcity_{{model.canAccessTeamCity ? 'on' : 'off'}}.png" title="TeamCity Status" style="padding-left: 20px;"/>
    <img id="internetStatus" src="../../Content/images/internet_{{model.canAccessInternet ? 'on' : 'off'}}.png" title="Internet Status" style="padding-left: 20px;"/>
</div>