<div class="signalrdashboard-component">
    <div class="row">
        <div class="component-title">
            TeamCity Build Metrics
        </div>
    </div>
    <div *ngFor="#project of model" class="row right-align-col-2">
        <div class="box box-header">
            {{project.projectName}}
        </div>
        <div *ngFor="#config of project.buildConfigs" class="row" [class.error]="config.buildFailed">
            <div class="col-lg-6">
                {{config.configName}} <span [hidden]="!buildTime">- {{config.buildTime}}</span>
            </div>
            <div class="col-lg-6">
                <span class="xsmall">{{config.buildNumber}}</span>
            </div>
        </div>
    </div>
</div>