<div class="signalrdashboard-component">
    <div class="row">
        <div class="component-title">
            TeamCity Build Metrics
        </div>
    </div>
    <div *ngFor="#project of model" class="row right-align-col-2">
        <div class="row component-sub-title">
            {{project.projectName}}
        </div>
        <div *ngFor="#config of project.buildConfigs" class="component-row row in-progress" [class.error]="config.buildNewlyFailed" [class.errored]="config.buildFailed && !config.buildRunning" [class.in-progress]="config.buildRunning">
            <div class="col-lg-4">
                {{config.configName}}
            </div>
            <div class="col-lg-8" [hidden]="config.buildRunning">
                <span class="xsmall">{{config.buildNumber}}</span>
            </div>
            <div class="col-lg-8 tc-progress" [hidden]="!config.buildRunning">
                <div class="tc-progress-bar" style="width:{{config.percentageComplete}}%">
                    {{config.percentageComplete}}%
                </div>
            </div>
        </div>
    </div>
</div>